html {
  overscroll-behavior-y: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  @media only screen and
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}



body {
  @include body;
  background-color: $mono1;
  overscroll-behavior-y: contain;
  -webkit-text-size-adjust: 100%;
}

a {
  color: $primary;
}
