// for only sp view with iPhone XS Max's width
$maxViewWidth: 414px;
//
// Fonts
//
@font-face {
  font-family: "-apple-system-subset";
  src: local(-apple-system);
  unicode-range: U+0000-05C7;
}
$font-family: -apple-system-subset, Hiragino Sans, BlinkMacSystemFont, Roboto, '游ゴシック体', YuGothic, 'Yu Gothic Medium', sans-serif;
//
// Colors
//
// Mono

$black: #1b1b1b; // Material Glay 800 Dark
$white: #fafafa; // Material Glay 50

.light-mode {
  --color-primary: #007c91; // Material Cyan 600 Dark
  --color-mono1: #1b1b1b;
  --color-mono2: #616161; // Material Glay 700
  --color-mono3: #8e8e8e; // Material Glay 700 Light
  --color-mono4: #fafafa;
  --color-boundary-r: 27;
  --color-boundary-g: 27;
  --color-boundary-b: 27;
}

.dark-mode {
  --color-primary: #4bacb8; // Material Cyan 200 Dark
  --color-mono1: #fafafa;
  --color-mono2: #9e9e9e;  // Material Gray 500
  --color-mono3: #616161;
  --color-mono4: #1b1b1b;
  --color-boundary-r: 250;
  --color-boundary-g: 250;
  --color-boundary-b: 250;
}

$mono1: var(--color-mono1);
$mono2: var(--color-mono2);
$mono3: var(--color-mono3);
$mono4: var(--color-mono4);
$boundaryRGB: var(--color-boundary-r), var(--color-boundary-g), var(--color-boundary-b);

// Bland
$primary: var(--color-primary); // Material Cyan 600 Dark
$secondary: #d81b60; // Material Pink 600

// Emphasis
$danger: #ba000d; // Material Red 500 Dark
$warning: #fdd835; // Material Yellow 600

// Social
$twitter: #1da1f2;

// Boundary
$boundaryBlack: rgba(#{$boundaryRGB}, 0.13);
//
// Shadows
//
$shadowVery: rgba($black, 0.2) 0px 3px 4px -3px, rgba($black, 0.14) 0px 4px 8px 0px, rgba($black, 0.12) 0px 1px 11px 0px;
$shadowHigh: rgba($black, 0.2) 0px 3px 3px -2px, rgba($black, 0.14) 0px 3px 4px 0px, rgba($black, 0.12) 0px 1px 8px 0px;
$shadowMiddle: rgba($black, 0.2) 0px 3px 1px -2px,rgba($black, 0.14) 0px 2px 2px 0px, rgba($black, 0.12) 0px 1px 5px 0px;
$shadowLow: rgba($black, 0.2) 0px 2px 1px -1px, rgba($black, 0.14) 0px 1px 1px 0px, rgba($black, 0.12) 0px 1px 3px 0px;
//
// Text styles
//
@mixin caption {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 155%;
  letter-spacing: 0.002em;
  color: $mono1;
}

@mixin body {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.008em;
  color: $mono1;
}

@mixin strong {
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 149%;
  color: $mono1;
}

@mixin input {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: $mono1;
}

@mixin subhead {
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 158%;
  color: $mono1;
}

@mixin title-3 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: $mono1;
}

@mixin title-2 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 148%;
  letter-spacing: -0.02em;
  color: $mono1;
}

@mixin title-1 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: $mono1;
}
